<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            <header class="bottom-shadow">
                <div class="f-row space-left-right-40">
                    <div class="logo">
                        <span routerLink="" class="button point">Trendster</span>
                    </div>

                    <div class="space-right-20 space-top-5">
                        <div class="f-row" *ngIf="!isLoggedIn">
                            <div class="button space-right-10 point" routerLink="/account/login">Login</div>
                            <div class="button point" routerLink="/account/register">Register</div>
                        </div>
                        <div *ngIf="isLoggedIn" style="text-align:center;">
                            <div class="point" (click)="showLinks = !showLinks"><span>User</span><span
                                    class="caret"></span></div>
                            <div *ngIf="showLinks" class="profile-tab-width">
                                <ul>
                                    <li class="link" *ngFor="let i of links">{{ i }}</li>
                                    <li class="link" (click)="signout()">Logout</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="space-top-8">
                        <app-nav></app-nav>         
                    </div>

                </div>
            </header>
        </div>
    </div>
</div>