<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <header>
                <div class="flex-area container">
                    <div class="space-right-side">
                        <a class="only-above-1280">Login</a>
                        <div class="only-below-1280" classToAlter="burger-nav">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="burger-nav remove-me">
                            <h1>works</h1>
                        </div>
                    </div>
                    <div class="logo">
                        Logo
                    </div>                    
                </div>
            </header>
        </div>
    </div>
</div>