/* You can add global styles to this file, and also import other style files */
@import './app/scss/vars.scss';
@import './app/scss/mixins.scss';
@import './app/scss/classes.scss';
@import './app/scss/queries.scss';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    color: $fontColor;
    background: $backgroundColor;
}

a, a:hover {
    text-decoration: none;
}

.button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

